body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #2E344D;  
}

input{
  padding: 10px;
  border-radius: 12px;
  color: #2E344D;
  border: 1px solid  #2E344D;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none}
input[type=number] { -moz-appearance: textfield; }

.porcentaje{
  position: absolute;
  top:123px;
  right: 10px;
  font-size: 14px;

}
#Button{
  background-color: #2E344D;
  color: #F5F7FB;
  border-radius: 12px;
  font-size: 12px;
  text-transform: none;
  min-width: 85px;

}
#Button:hover{
  background-color: #485178;
}

#ButtonEliminar{
  background-color: rgb(163, 6, 6);
  color: #F5F7FB;
  border-radius: 12px;
  font-size: 12px;
  text-transform: none;
  min-width: 85px;
}
#ButtonEliminar:hover{
  background-color: #c80c0c;
}
